<div class="form-group">
    <label for="{{id}}" class="{{requerido}}">{{label}}<span ng-if="required" class="required" >*</span>:
    </label>
    <div>
        <textarea id="{{id}}" class="form-control form-control-2"
                  ng-model="model" ng-maxlength="maxlength" ng-minlength="minlength"
                  maxlength="{{maxlength}}" placeholder="{{placeholder}}" ng-required="{{ required != undefined}}"
                  aria-describedby="pesquisarInput" ng-disabled="disabled == 'true' ? true : false">

        <jmj-validate></jmj-validate>
    </div>
</div>
