<div>
    <div class="">
      <label for="{{id}}" class="{{required ? 'requerido':''}}">{{label}}:</label><span class="required" ng-if="required">*</span>
    </div>
    <div>
        <input id="{{id}}" type="text" name="{{id}}" class="form-control form-control-2" ng-model="model"
               ng-maxlength="maxlength" ng-minlength="minlength" maxlength="{{maxlength}}"
               placeholder="{{placeholder}}" aria-describedby="input text"  ng-disabled="disabled == 'true' ? true : false"
               pattern="{{pattern.pattern}}" ng-required="{{ required != undefined}}"
               uib-tooltip="{{tooltip}}" tooltip-placement="bottom" tooltip-trigger="focus" tooltip-enable="!model">
    </div>
</div>
