<div>
    <div>
        <jmj-label id="{{id}}" label="{{label}}" required="{{required}}"></jmj-label>
    </div>
    <div>
        <div>
            <label class="{{space}}" ng-repeat="radio in data">
                <input type="radio" name="{{name}}" value="{{radio}}" ng-value="radio" ng-model="$parent.model" ng-disabled="disabled == 'true' ? true : false"
                       aria-describedby="input radiobox">
                {{text ? radio.text : radio}}
            </label>
        </div>
        <jmj-validate></jmj-validate>
    </div>
</div>
