<div class="form-group">
    <label for="{{id}}" class="{{requerido}}">{{label}}<span ng-if="required" class="required" >*</span>:
    </label>
<div class="input-group">
    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-clock-o"></i></span>
    <input id="{{id}}" type="time" class="form-control form-control-2 form-control-padding"  ng-model="model"
           required="{{ required != undefined}}" placeholder="hh:mm"
           aria-describedby="time input"
           uib-tooltip="{{tooltip}}" tooltip-placement="bottom"
           tooltip-trigger="focus" tooltip-enable="!model">

   <jmj-validate></jmj-validate>
</div>
</div>
