<div>
    <div class="">
      <jmj-label id="{{id}}" label="{{label}}"></jmj-label>
    </div>
    <div>
        <input id="{{id}}" type="time" class="form-control form-control-2 form-control-padding"  ng-model="model"
               required="{{ required != undefined}}" placeholder="01:01"
               aria-describedby="time input"
               uib-tooltip="{{tooltip}}" tooltip-placement="bottom"
               tooltip-trigger="focus" tooltip-enable="!model">

       <jmj-validate></jmj-validate>
    </div>
</div>
