<jmj-label id="{{id}}" label="{{label}}" required="{{required}}"></jmj-label>

<input id="{{id}}" type="text" name="{{id}}" placeholder="{{placeholder}}"
        pattern="{{pattern}}" class="form-control form-control-2"
        maxlength="{{maxlength}}"
        ng-model="model" ng-focus="selecionado = true" ng-blur="selecionado = false"
        ng-required="{{ required != undefined}}" ng-init="pristine=true"
        ng-minlength="minlength" ng-disabled="{{disabled != undefined}}"
        uib-typeahead="item as item[campo] for item  in pesquisa(campo, $viewValue)"
        tooltip-enable="!model" tooltip-placement="bottom"
        tooltip-trigger="focus" uib-tooltip="{{tooltip}}"
        typeahead-loading="loading" typeahead-no-results="noResults">

<i ng-if="loading" class="glyphicon glyphicon-refresh"></i>

<div class="bg-danger" ng-show="invalid">
    {{mensagem}}
</div>

<div ng-if="noResults && selecionado">
    <i class="glyphicon glyphicon-remove"></i> Nenhum resultado encontrado.
</div>
